
html{
    font-family: 'Teko', sans-serif;
    font-size: 70px;
    background-color: #555;
}

.container{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    background-color: #666;
    padding: 10px;
    margin: 100px auto auto auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px #444;
    border: none;



}



.blocktm{
    background-color: #888;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
   box-shadow: 4px 4px 5px 0px #444;
    border: none;
 
}